<div class="block__tabs tabs-block" data-tab-wrapper>
  <div class="tabs-block__togglers">
    <button class="tabs-block__toggler active-tab-toggler" type="button" data-show-tab="tab1">
      Tab 1
    </button>
    <button class="tabs-block__toggler" type="button" data-show-tab="tab2">Tab 2</button>
  </div>
  <div class="tabs-block__box">
    <div class="tabs-block__content content-tabs-block active-tab-content" data-tab-content="tab1">
      TAB 1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ducimus eius tempora
      minima illo ex dicta eos error totam ratione commodi rerum, nisi voluptatem provident sint
      corrupti fuga quia aperiam!
    </div>
    <div class="tabs-block__content content-tabs-block" data-tab-content="tab2">
      TAB 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ducimus eius tempora
      minima illo ex dicta eos error totam ratione commodi rerum, nisi voluptatem provident sint
      corrupti fuga quia aperiam!
    </div>
  </div>
</div>
