<div class="block" data-spoilers-wrapper>
  <div class="block__spoiler spoiler-block" data-spoiler>
    <button class="spoiler-block__toggler" type="button" data-spoiler-toggler>
      Open Spoiler 1
    </button>
    <div class="spoiler-block__content" data-spoiler-content>
      <div class="spoiler-block__wrapper">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae incidunt odit, cupiditate
        voluptate dolorum ullam ipsum commodi sed, unde vel eligendi nobis aperiam dolorem ea quam
        possimus nostrum fugit accusantium.
      </div>
    </div>
  </div>
  <div class="block__spoiler spoiler-block" data-spoiler>
    <button class="spoiler-block__toggler" type="button" data-spoiler-toggler>
      Open Spoiler 2
    </button>
    <div class="spoiler-block__content" data-spoiler-content>
      <div class="spoiler-block__wrapper">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae incidunt odit, cupiditate
        voluptate dolorum ullam ipsum commodi sed, unde vel eligendi nobis aperiam dolorem ea quam
        possimus nostrum fugit accusantium.
      </div>
    </div>
  </div>
</div>
