/*====================================================================================================*/
//!---------IMPORTANT VARS----------------------------------------------------------------------------*/
/*====================================================================================================*/

$primary-family: 'Arial', sans-serif;
$secondary-family: 'Arial', sans-serif;

$container: rem(1180);
$containerPadding: rem(15);
/*====================================================================================================*/

/*====================================================================================================*/
//!---------MEDIA QUERIES-----------------------------------------------------------------------------*/
/*====================================================================================================*/
$mdx992: em(991.98, $font-size);
$mdx768: em(767.98, $font-size);
$mdx600: em(599.98, $font-size);
$mdx480: em(479.98, $font-size);
$mdx380: em(379.98, $font-size);
/*====================================================================================================*/

/*====================================================================================================*/
//!---------FONT WEIGHT-----------------------------------------------------------------------------*/
/*====================================================================================================*/

$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;

/*====================================================================================================*/
//!---------COLORS------------------------------------------------------------------------------------*/
/*====================================================================================================*/

:root {
  --color-primary: #000;
  --color-secondary: #fff;
}
/*====================================================================================================*/
