<ul class="dropdown-block" data-dropdowns-wrapper>
  <li class="dropdown" data-dropdown-item>
    <a href="#" class="dropdown__link">Link</a>

    <button type="button" class="dropdown__arrow dropdown-arrow" data-dropdown-toggler></button>

    <ul class="dropdown__list list-dropdown" data-dropdown-list>
      <li class="list-dropdown__item">
        <a href="#" class="list-dropdown__link">link</a>
      </li>
      <li class="list-dropdown__item">
        <a href="#" class="list-dropdown__link">link</a>
      </li>
      <li class="list-dropdown__item">
        <a href="#" class="list-dropdown__link">link</a>
      </li>
      <li class="list-dropdown__item">
        <a href="#" class="list-dropdown__link">link</a>
      </li>
    </ul>
  </li>
</ul>
