/*===============Modal===============*/
// .modal {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.6);
//   padding: rem(30) rem(10);
//   display: flex;
//   overflow-y: auto;
//   overflow-x: hidden;
//   z-index: 50;

//   opacity: 0;
//   visibility: hidden;

// // ! Change transition in modal.js
//   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

//   &.is-active {
//     opacity: 1;
//     visibility: visible;
//   }
//   &.is-active &__body {
//     transform: scale(1);
//   }

//   &__body {
//     position: relative;
//     width: rem(500);
//     max-width: 100%;
//     background-color: #fff;
//     margin: auto;
//     padding: rem(20);
//     transform: scale(0.8);

// // ! Change transition in modal.js
//     transition: transform 0.3s ease-in-out;
//   }
//   &__close {
//     position: absolute;
//     top: rem(15);
//     right: rem(15);
//     background: none;
//   }
// }

/*===============Dropdown===============*/
body.mouse .dropdown:hover .dropdown__list {
  overflow: visible;
  height: max-content;
  opacity: 1;
  visibility: visible;

  @media (max-width: 767.98px) {
    position: relative;
    top: 0;
  }
}

body.mouse .dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

body.touch .dropdown-arrow {
  pointer-events: initial;
}

body.touch .dropdown.show-dropdown .dropdown-arrow {
  transform: rotate(180deg);
}

body.touch .dropdown.show-dropdown .dropdown__list {
  opacity: 1;
  visibility: visible;
}

.dropdown-arrow {
  border-top: rem(10) solid #000;
  border-right: rem(10) solid transparent;
  border-left: rem(10) solid transparent;
  background: none;
  transition: transform 150ms ease-in-out;
  pointer-events: none;
}

.dropdown {
  position: relative;

  &__link {
    &:not(:last-child) {
      margin-right: rem(30);
    }
  }
  &__arrow {
    position: absolute;
    right: 0;
  }
}

.list-dropdown {
  position: absolute;
  z-index: 5;
  top: rem(15);
  left: 0;
  padding-top: rem(15);

  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: height 150ms ease-in-out, opacity 150ms ease-in-out;

  @media (max-width: 767.98px) {
    position: relative;
    width: 100%;
    top: 0;
    padding-top: 0;
  }

  &__item {
    position: relative;
    background-color: #000;
  }
  &__link {
    display: block;
    color: #fff;
    padding: rem(5) rem(50) rem(5) rem(10);
  }
}
