@use 'sass:math';

/*===============Default font-size===============*/
$font-size: 16px;

/*===============Cut unit===============*/
@function cut($value) {
  @return math.div($value, ($value * 0 + 1));
}

/*===============PX to REM===============*/
@function rem($px) {
  @return math.div(cut($px), cut($font-size)) + rem;
}

/*===============PX to EM===============*/
@function em($px, $fz) {
  @return math.div(cut($px), cut($fz)) + em;
}

/*===============PX to %===============*/
@function lh($lh, $px) {
  @return math.div(cut($lh), cut($px));
}

/*===============Text Mixins===============*/
@mixin text($fz, $lh) {
  font-size: rem($fz);
  line-height: lh($lh, $fz);
}
@mixin textColor($fz, $lh, $cl) {
  font-size: rem($fz);
  line-height: lh($lh, $fz);
  color: $cl;
}
