@use 'sass:math';

// font-size in html
$font-size: 16px;

// cut unit
@function cut($value) {
  @return math.div($value, ($value * 0 + 1));
}

// px to rem
@function rem($px) {
  @return math.div(cut($px), cut($font-size)) + rem;
}

// px to em
@function em($px, $fz) {
  @return math.div(cut($px), cut($fz)) + em;
}

// px to %
@function lh($lh, $px) {
  @return math.div(cut($lh), cut($px));
}

// Properties for text
@mixin textPropertiesColor($fz, $lh, $cl) {
  font-size: rem($fz);
  line-height: lh($lh, $fz);
  color: $cl;
}
@mixin textProperties($fz, $lh) {
  font-size: rem($fz);
  line-height: lh($lh, $fz);
}
