/*===SCSS Functions===*/
@import 'functions.scss';

/*===Reset Styles===*/
@import 'nullstyle.scss';

/*===Vars===*/
@import 'vars.scss';

/*===Swiper===*/
// @import './swiper-bundle.min.scss';

/*===============GLOBAL STYLES===============*/

body {
  /*===For Modals===*/
  // &.modal-lock {
  //   overflow: hidden;
  //   position: fixed;
  // }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

[class*='__container'] {
  // max-width: rem();
  // padding: 0 15px;
  // margin: 0 auto;
}

/*===BEM Blocks===*/
@import 'common.scss';

/*===============SECTIONS===============*/

/*===============Header===============*/
@import 'header.scss';

/*===============Footer===============*/
@import 'footer.scss';
