// Scss Functions
@import 'functions.scss';

/*===Reset Styles===*/
@import 'nullstyle.scss';

/*===Vars===*/
@import 'vars.scss';

/*===BEM Blocks===*/
@import 'common.scss';

/*===Burger===*/
// @import 'burger.scss';

/*===============Global styles===============*/

body {
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
}
